.select {
  min-width: 110px;
  border-radius: var(--radius-sm);
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--text-size-normal);
  padding: var(--spacing-sm) var(--spacing);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  transition: border 0.2s, box-shadow 0.2s;
}

.select:focus {
  border: 1.5px solid var(--color-secondary);
  box-shadow: 0 0 0 2px #00000033;
  outline: none;
}

.select-content {
  background: var(--color-bg);
  color: var(--color-text);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
}